.img-responsive {
	width: 100%!important;
	margin-top: 20px;
}

.publicity {
	margin-top: 20px;
	border: solid 1px #D9D8DC;
	border-bottom: 0;
}

.publicity_line {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #EBEBEB;
	padding: 10px 0 0 60px;
	border-bottom: solid 1px #D9D8DC;
}

	.publicity_line:active {
		background-color: #c7c7c7;
	}

.report {
	position: absolute;
	right: 20px;
	top: 33px;
	font-size: 14px;
	color: #B0B0B0;
	text-decoration: underline;
}

.publicity_businessicon {
	background-image: url(/content/images/pic_r_1.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 40px 40px;
}

.publicity_infoicon {
	background-image: url(/content/images/pic_r_2.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 40px 40px;
}

.publicity_howicon {
	background-image: url(/content/images/pic_r_8.gif);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 40px 40px;
}

.publicity_line_business {
	font-weight: bold;
}

.publicity_line_authtime {
	color: #909090;
	font-size: 12px;
	margin-top: 5px;
}

.publicity_line_title {
	font-weight: bold;
	line-height: 40px;
}

.publicity_down {
	position: absolute;
	right: 20px;
	top: 20px;
	background: url(/content/images/pic_r_4.png) no-repeat;
	background-size: 19px 19px;
	width: 19px;
	height: 19px;
}

.publicity_up {
	-webkit-transition: all .2s ease;
	-webkit-transform: rotate(180deg);
	transition: all .2s ease;
	transform: rotate(180deg);
}

.publicity-expand {
	border-bottom: solid 1px #D9D8DC;
	margin: 0;
	padding: 10px;
	background-color: #FFF6E5;
	position: relative;
}

	.publicity-expand li {
		list-style: none;
		line-height: 25px;
		position: relative;
	}

		.publicity-expand li b {
			font-size: 16px;
		}

.publicity-call-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
}

	.publicity-call-icon:before {
		content: "\e182";
	}

.publicity-call {
	position: absolute;
	right: 0;
	top: 0;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	background: #ffffff;
	border-radius: 4px;
	border: solid 1px #D7D7D8;
	background: -moz-linear-gradient(top, #ffffff 0, #fafafa 6%, #efefef 50%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(6%,#fafafa), color-stop(50%,#efefef), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -o-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -ms-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: linear-gradient(to bottom, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
	position: relative;
	float: right;
	color: #474747;
	text-decoration: none;
}

.publicity-topline {
	border-top: solid 1px #d9d8dc;
	padding-top: 5px;
	margin-top: 10px;
}

.publicity-call:active {
	text-decoration: none;
}

.publicity-title {
	font-size: 16px;
	font-weight: bold;
}

.publicity-num {
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
}

.publicity-left {
	float: left;
}

.publicity-right {
	float: right;
}

.publicity-pic-1 {
	height: 100px;
	background: url(/content/images/img_j.png) center right no-repeat;
	background-size: 148px 90px;
	padding-right: 158px;
}

.publicity-pic-2 {
	height: 131px;
	background: url(/content/images/img_k.png) center left no-repeat;
	background-size: 150px 121px;
	padding-left: 160px;
}

.publicity-pic-3 {
	height: 78px;
	background: url(/content/images/img_l.png) center right no-repeat;
	background-size: 148px 68px;
	padding-right: 158px;
}

.act {
	margin-top: 20px;
}

.act_over {
	width: 100%;
	text-align: center;
	background: red;
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0;
}

.act_nostart {
	width: 100%;
	text-align: center;
	background: red;
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0;
}

	.act_nostart p {
		margin: 0;
		padding: 0;
	}

.act_nostart-sug {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.visitor {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #F8F8F8;
	padding: 10px;
	border: solid 1px #D9D8DC;
}

.loading {
	position: relative;
	padding-left: 30px;
	width: 140px;
	margin: 0 auto;
}

.loading_icon {
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: solid 4px #da6426;
	border-radius: 6px;
	-moz-animation: rotate 1s infinite linear;
	-webkit-animation: rotate 1s infinite linear;
	animation: rotate 1s infinite linear;
}

.loading_tip {
	color: #111;
	font-size: 16px;
}

.logo {
	display: block;
	width: 99px;
	height: 16px;
	margin: 0 auto;
	background: url(/content/images/logo-share.png) no-repeat center center;
	background-size: 99px 16px;
}

.footer {
	text-align: center;
	font-size: 12px;
}

/*css3 旋转特效定义*/


@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0);
	}

	100% {
		-moz-transform: rotate(359deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}

.v-share {
	border-bottom: solid 1px #EEEEEE;
	text-align: center;
	font-size: 16px;
}

.v-share-count {
	font-weight: bold;
	font-size: 30px;
	color: #347F0C;
	margin: 0 10px;
}

.v-share-icon {
	padding-top: 5px;
	border-bottom: solid 1px #EEEEEE;
}

.v-share-icon-container {
	margin-left: -5px;
}

.v-share-light-color {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url(/content/images/share-color.png) no-repeat;
	background-size: 22px 22px;
	margin: 5px 0 5px 5px;
}

.v-share-light-gray {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: url(/content/images/share-gray.png) no-repeat;
	background-size: 22px 22px;
	margin: 5px 0 5px 5px;
}

.v-share-surplus {
	border-bottom: solid 1px #EEEEEE;
	padding: 10px 0;
	font-size: 14px;
}

.visitor_over_time {
	font-weight: bold;
	color: red;
	font-size: 20px;
	margin: 0 2px;
}

.v-prize-get {
	padding: 10px 0;
}

.v-prize-get-tip {
	float: left;
	font-size: 14px;
}

.v-prize-get-remind {
	float: right;
	font-size: 14px;
}

.v-prize-item-selected {
	position: relative;
	background: #ffffff;
	padding: 10px;
	background: -moz-linear-gradient(top, #ffffff 0, #fafafa 6%, #efefef 50%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(6%,#fafafa), color-stop(50%,#efefef), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -o-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -ms-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: linear-gradient(to bottom, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
	color: #464746;
	font-size: 16px;
	border-radius: 4px;
	border: solid 1px #D7D7D8;
}

.v-prize-item-selected .v-prize-select-icon {
	background: url(/content/images/un_select.gif) no-repeat 0 center;
	background-image: url(/content/images/selected.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 26px 20px;
	width: 26px;
	height: 20px;
	display: block;
}

.v-prize-item-unselect {
	position: relative;
	background: #ffffff;
	padding: 10px;
	background: -moz-linear-gradient(top, #ffffff 0, #fafafa 6%, #efefef 50%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(6%,#fafafa), color-stop(50%,#efefef), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -o-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: -ms-linear-gradient(top, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	background: linear-gradient(to bottom, #ffffff 0,#fafafa 6%,#efefef 50%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
	color: #464746;
	font-size: 16px;
	border-radius: 4px;
	border: solid 1px #D7D7D8;
}

.v-prize-item-unselect .v-prize-select-icon {
	background-image: url(/content/images/un_select.gif);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: block;
}

.v-prize-item-disabled {
	position: relative;
	padding: 10px;
	border: solid 1px #EEEEEE;
	border-radius: 2px;
	margin-bottom: 10px;
	font-size: 16px;
	background: #F2F2F2;
	color: #C9C9C9;
}

.v-prize-item-disabled .v-prize-select-icon {
	background-image: url(/content/images/disabled.gif);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	display: block;
}

.v-prize-item-selected-disabled {
	position: relative;
	padding: 10px;
	border: solid 1px #EEEEEE;
	border-radius: 2px;
	margin-bottom: 10px;
	font-size: 16px;
	background: #F2F2F2;
	color: #C9C9C9;
}

.v-prize-item-selected-disabled .v-prize-select-icon {
	background: url(/content/images/un_select.gif) no-repeat 0 center;
	background-image: url(/content/images/selected.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 26px 20px;
	width: 26px;
	height: 20px;
	display: block;
}

	.v-prize-item-disabled, .v-prize-item-selected, .v-prize-item-unselect, .v-prize-item-selected-disabled li {
		list-style: none;
	}

.v-prize-select-iconcontainer {
	position: absolute;
	top: 10px;
}

.v-prize-item-name {
	float: left;
	margin-left: 30px;
}

.v-prize-get-enable {
	line-height: 46px;
	font-size: 20px;
	border-radius: 4px;
	color: #fff;
	letter-spacing: 4px;
	background: #ff6046; /* Old browsers */
	background: -moz-linear-gradient(top, #ff6046 0, #e84c32 63%, #d5462e 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ff6046), color-stop(63%,#e84c32), color-stop(96%,#d5462e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff6046 0,#e84c32 63%,#d5462e 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff6046 0,#e84c32 63%,#d5462e 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff6046 0,#e84c32 63%,#d5462e 96%); /* IE10+ */
	background: linear-gradient(to bottom, #ff6046 0,#e84c32 63%,#d5462e 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6046', endColorstr='#d5462e',GradientType=0 ); /* IE6-9 */
	border: 0;
}

.v-prize-get-disable {
	line-height: 46px;
	font-size: 20px;
	border-radius: 4px;
	color: #A1A1A1;
	letter-spacing: 4px;
	background: #DCDCDC;
	border: 0;
}

.v-prize-item-content {
	float: left;
}

.v-prize-item-surplus {
	float: right;
}

.authloading {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	font-size: 20px;
	border: solid 4px #da6426;
	border-radius: 4px;
	backface-visibility: hidden;
	-webkit-animation: rotate 1s infinite linear;
	-moz-animation: rotate 1s infinite linear;
	text-align: center;
}

.authloading-tip {
	display: inline-block;
	margin-left: 10px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
}

.exchange-header {
	position: relative;
	background: #E54B31;
	padding: 10px 10px 10px 35px!important;
	margin: 0!important;
	color: #ffffff;
}

.modal-title {
	font-weight: bold;
}

.modal-footer {
	margin: 0 !important;
	padding: 10px 2%!important;
	text-align: center!important;
}

.exchange-header-icon {
	position: absolute;
	top: 13px;
	left: 10px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
}

	.exchange-header-icon:before {
		content: "\e102";
	}

.exchange-body {
	margin: 0!important;
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.exchange-cancel {
	width: 48%;
}

.exchange-submit {
	width: 48%;
	background: #E54B31;
	color: #fff;
}

.v-prize-code {
	text-align: center;
	background: #E54B31;
	padding: 10px 0;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
}

.remind-show {
	position: relative;
}

.remind-del {
	position: absolute;
	top: 8px;
	right: 10px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	color: #bbb;
}

	.remind-del:active {
		color: #eeeeee;
	}

	.remind-del:before {
		content: "\e014";
	}

.contribution-header {
	position: relative;
	background: #00A3E8;
	padding: 10px 10px 10px 35px!important;
	margin: 0!important;
	color: #ffffff;
}

.contribution-header-icon {
	position: absolute;
	top: 13px;
	left: 10px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
}

	.contribution-header-icon:before {
		content: "\e086";
	}

.contribution-cancel {
	background: #00A3E8;
	border: 0;
	border-radius: 2px;
	width: 50%;
	margin: 0 auto!important;
	color: #fff;
}

.malicious-header {
	position: relative;
	background: #E14B3A;
	padding: 10px 10px 10px 35px!important;
	margin: 0!important;
	color: #ffffff;
}

.malicious-header-icon {
	position: absolute;
	top: 13px;
	left: 10px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
}

	.malicious-header-icon:before {
		content: "\e101";
	}

.malicious-cancel {
	width: 50%;
	margin: 0 auto!important;
}

.share_timeline {
	border-radius: 4px;
	border: 0;
	height: 40px;
	color: #ffffff;
	text-align: center;
	background: #5ea831; /* Old browsers */
	background: -moz-linear-gradient(top, #5ea831 0, #2c7009 100%, #5ea831 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#5ea831), color-stop(100%,#2c7009), color-stop(100%,#5ea831)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5ea831 0,#2c7009 100%,#5ea831 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5ea831 0,#2c7009 100%,#5ea831 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5ea831 0,#2c7009 100%,#5ea831 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5ea831 0,#2c7009 100%,#5ea831 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea831', endColorstr='#5ea831',GradientType=0 ); /* IE6-9 */
}

.share_timeline_disabled {
    border-radius: 4px;
	border: 0;
	height: 40px;
	color: #111;
	text-align: center;
	background: #5ea831; /* Old browsers */
	background: -moz-linear-gradient(top, #eee 0, #eee 100%, #eee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#eee), color-stop(100%,#eee), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eee 0,#eee 100%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eee 0,#eee 100%,#eee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eee 0,#eee 100%,#eee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eee 0,#eee 100%,#eee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#eee',GradientType=0 );
}

.share_timeline_button {
	display: inline-block;
	letter-spacing: 0;
	font-size: 20px;
	padding: 5px 0 0 45px;
	height: 35px;
	background: url(/content/images/share.png) no-repeat 15px 7px;
	background-size: 24px 24px;
	margin: 0;
	font-weight: bold;
}
.warm_txt{
    color: #FF9900;
    font-weight: bold;
    font-size:18px;
    left: 50%;
    line-height: 84px;
    margin-left: 18px;
    position: absolute;
    margin-top:-36px;
}
.b_img_i0{
    position:absolute;
    width:48px;
    height:48px;
    margin-top:-18px;
    margin-left:-38px;left:50%;
}
.b_img{
  position:relative;
  padding:40px 0 20px 0;
  border-bottom:1px solid #d0d7dd;
  height:84px;
}
.container_p0 {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    padding: 10px 10px 20px 10px;
	line-height: 20px;
	border-top:1px solid #fff;
	border-bottom:1px solid #d0d7dd;
	color:#4f4f4f;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
